.bg-login{
    background-image: url('../assets/login.gif');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.9;
    overflow: hidden;
}

#login-form{
background: url('../assets/login.png');
padding: 1rem;
min-width: 90%;
max-width: 8rem;
background-repeat: no-repeat;
background-position: center;
object-fit: cover;
margin: 1rem;
margin-bottom: 3rem;
border-radius: 1rem;
height: 34rem;
}


input{
max-width: 40%;
min-width: 20rem;
margin: 0 auto;
text-align: center;
margin-top: 1rem;
}

form p{
max-width: 40%;
min-width: 20rem;
margin: 0 auto;
text-align: center;
margin-top: 1rem;
}

#go{
margin: 0 auto;
text-align: center;
margin-top: 1rem;
max-width: 30%;
min-width: 20rem;
background: #fab42c;
}

#go:hover{
background: #f3b437;
scale: 1.2;
}


#email-input{
margin-top: 10rem;
}

#create-account{
background: transparent;
color: #fff;
font-size: 1.4rem;
border: transparent;
}

#create-link{
text-decoration: none;
color: #fab42c;
}

.audio-player{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    visibility: hidden;
    opacity: 0.9;
}

.settings{
    visibility: visible;
    background: url('../GUI/PNG/17Icons/yellow/settings_big_yellow.png');
    height: 4rem;
    width: 4rem;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
    z-index: 100;
}

.settings:hover{
    scale: 1.1;
}

.close{
    position: fixed;
    bottom: 4rem;
    right: 1.5rem;
    visibility: hidden;
    color: transparent;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: url('../GUI/PNG/17Icons/yellow/x_yellow.png');
    cursor: pointer;
}